:root {
    --primary-color: #007bff;
    --primary-color-light: color-mix(in srgb, var(--primary-color) 70%, white);
}

/* ====== GENERAL STYLE ====== */
/* html {
    scroll-behavior: smooth;
} */


body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size:22px;
	line-height: 1.5;
    color: #5b5b5b
}

h1, 
h2, 
h3{
    font-family: 'Urbanist', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	color:#242424;
	line-height: 1.2;
}

h1,h2{    
	font-size:60px;
}

h3{
    font-size:30px;
}

.content {
    width: 70%;
    margin: 0 auto;
}

/* ====== TOP BAR ====== */
.topbar {
    position: fixed;
    display: flex; 
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.topbar .content {
    display: flex;
    justify-content: space-between;
}

.topbar-links{
    display: flex;
    gap: 20px;
}

.topbar-button {
    border:none;
    text-decoration: none;
    font-weight: 400;
    color: #5b5b5b;
}

.topbar-button.active{
    border-bottom: 2px solid var(--primary-color-light);
}

.topbar-indicator{
    height: 5px;
    width: 0px;
    border-radius: 10%;
    background-color: var(--primary-color-light);
    margin-left: 0px;
}

/* ====== SECTIONS ====== */
.section {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.section.active {
    opacity: 1;
}


/* ====== INTRO ====== */

.section#intro {
    background-color: white;
    height: 100vh;
}

#intro .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
	/* background-color: #333; */
}

#intro .intro-image {
    flex: 1;
    text-align: center;
	margin: 0;
	margin-left: 60px;
}

#intro .intro-image img {
    height: auto;
    border-radius: 50%;
}

#intro .intro-text {
    flex: 1;
    text-align: left;
	max-width: 600px;
}


#intro .intro-link-icons {
    margin-top: 40px;
    display: flex;
    gap: 25px;
}

/* ========== Expertise ========== */
#my_expertise .content
{
    display: flex;
}

.expertise{
    display: flex;
    width: 40%;
    background-color: #fff;
    border-radius: 5%;
    padding: 50px;
    align-items: start;
}

.expertise-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.expertise-text h3{
    font-size:25px;
}

.expertise-icon{
    height: 30px;
    width: 30px;
    display: block;
    background-size: cover !important;
}

/* ========== PROJECTS ========== */
.section#projects {
    background-color: #e8f5e9;
    text-align: left;
}

.project {
    margin-bottom: 30px;
    display: flex;
    gap:20px;
}



.project-images-list{
    display: flex;
    gap: 20px;
}

/* .project img {
    max-width: 50%;
    height: auto;
} */

/* ========== CONTACTS ========== */
.section#contacts {
    background-color: #fff3e0;
}


/* ========== SOCIAL ICONS ========== */

.social-icon {
    height: 25px;
    width: 25px;
    display: block;
    background-size: cover !important;
}

.social-icon#linkedin {
    background: url('./icons/linkedin.png');
}

.social-icon#github {
    background: url('./icons/github.png');
}



